@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script&family=Pacifico&family=Salsa&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Consolas&display=swap");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
* {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.Home {
  padding: 4em 30px 3em 30px;
  /* display: flex;
  margin: 0 auto; */
}

.Art {
  /* display: flex; */
  padding: 0px 20px 3em 20px;
  /* display: block; */
  /* align-items: flex-start; */
}
.srija-logo {
  display: flex;
}
.srija-logo img {
  height: 2rem;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main-div {
  display: flex;
  flex-direction: row;
  font-size: 1.2em;
}

.main-div .description {
  text-align: left;
  padding-left: 2em;
  margin: auto;
}

.main-div .emo {
  font-size: 2.5em;
  /* padding-bottom: 0.5em; */
}

.main-div .emo img {
  display: inline;
  height: 1.2em;
}

.main-div .intro {
  display: block;
  font-size: x-large;
  padding-bottom: 0.5em;
  opacity: 0;
  animation: fadeIn 1s 1s forwards;
}

.main-div .about {
  opacity: 0;
  animation: fadeIn 1s 1s forwards;
  font-weight: lighter;
}
.main-div img {
  height: 30em;
}

.contacts {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: white;
  z-index: 100;
}

.contacts .cont {
  margin-right: 1em;
}

.contacts .cont:hover {
  cursor: pointer;
}

.contacts .resume {
  display: flex;
  flex: 1;
  justify-content: flex-start;
}

.contacts .social {
  display: flex;
  justify-content: flex-end;
}

.Work {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2rem;
  padding: 30px 20px 3em 20px;
  overflow: auto;
  /* z-index: 0; */
}

.About {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 3em 0px;
}

.projects-heading {
  padding: 0.6rem 0px 0.1em 0px;
  font-size: xx-large;
  font-weight: bold;
}

.projects-heading-about {
  padding: 0.6rem 0rem 0.1em 5rem;
  font-size: x-large;
  font-weight: bold;
  font-family: "Dancing Script", cursive;

  /* display: flex; */
  /* text-align: end; */
}

.interest {
  padding: 0.6rem 0px 0.1em 0px;
  font-size: x-large;
  font-weight: bold;
}

.project-card {
  transform: translateX(100%);
  animation: slideIn 0.5s ease forwards;
}

.project-card:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.project-title {
  display: flex;
  height: 2rem;
  text-align: center;
  justify-content: center;
}

.resume {
  right: 0;
}

.resume .resume-button {
  background-color: #9ec8b9;
  padding-right: 1em;
}

.resume .resume-button:hover {
  background-color: #43766c;
}
.resume-text {
  color: white;
  text-align: center;
}

.art-image {
  height: 25em;
  /* width: 14em; */
  object-fit: cover;
}

.image-container {
  width: 20em;
  height: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* Optional: background color for empty space */
}
/* .image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
} */
.animated-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.animated-text-about {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}

.animated-text span {
  display: inline-block;
  transform: translateY(100%);
  animation: popUp 0.5s forwards;
}

@keyframes popUp {
  to {
    transform: translateY(0);
  }
}

.animated-text span:nth-child(1) {
  animation-delay: 0.1s;
}
.animated-text span:nth-child(2) {
  animation-delay: 0.2s;
}
.animated-text span:nth-child(3) {
  animation-delay: 0.3s;
}
.animated-text span:nth-child(4) {
  animation-delay: 0.4s;
}
.animated-text span:nth-child(5) {
  animation-delay: 0.5s;
}
.animated-text span:nth-child(6) {
  animation-delay: 0.6s;
}
.animated-text span:nth-child(7) {
  animation-delay: 0.7s;
}
.animated-text span:nth-child(8) {
  animation-delay: 0.8s;
}

.animated-img {
  display: inline-block;
  overflow: hidden;
}

.animated-img img {
  transform: translateX(100%);
  animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
  to {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

.code-block {
  background-color: #30363d;
  width: 100%;
  height: 100%;
  font-family: "Consolas", monospace;
  overflow: hidden;
}

.code .def {
  color: #cc7832;
}
.code .myJourney {
  color: #dec66d;
}
.code .brackets {
  color: white;
}

.code .brackets {
  color: white;
}
.code .arrow {
  color: white;
}

.code .str {
  color: #9a76aa;
}
.code-block {
  padding: 3rem 2rem 2rem 0rem;
}
.code .return {
  color: #cc7832;
}

.code .text {
  color: #8eb7c6;
}
.code .first-block {
  padding: 0px 0px 0.5rem 0px;
}

.code .second-block {
  padding: 0px 0px 0.5rem 0px;
}

.code .second-block::before {
  content: "\0009";
  white-space: pre;
}
.typing {
  display: inline-block;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  color: #7b7a7c;
  animation: typing 4.5s steps(40, end), blink-caret 1s step-end infinite;
  font-size: x-small;
  direction: ltr;
}

.tech {
  /* font-style: oblique; */
  font-size: xx-large;
  font-family: "Dancing Script", cursive;
  color: #7b7a7c;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 15%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.resume-about {
  padding: 3rem 0rem 2rem 0rem;
}

.resume-about .resume-button {
  background-color: #9ec8b9;
}
.resume-about .resume-button {
  background-color: #9ec8b9;
}
.resume-about .resume-button:hover {
  background-color: #43766c;
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.skills div {
  opacity: 0;
  animation: fadeIn 1s 1s forwards;
  padding: 1rem 0px 1rem 0px;
  /* width: 20rem; */
}

.skills img {
  height: 2rem;
}

@keyframes drop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.parent-div {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.dropping-div {
  /* position: absolute; */
  left: 50%;
  transform: translateX(-50%);
  top: -100%;
  opacity: 0;
  animation: drop 0.5s ease-out forwards;
  animation-delay: 2s;
}

.timeline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-direction: column; */
}

.timeline-year {
  width: 50px;
  height: 50px;
  background: #ddd;
  border-radius: 4px;
  text-align: center;
  line-height: 50px;
  /* position: absolute; */
  /* left: 0; */
  /* transform: translateX(-50%); */
}

.timeline-line {
  border-top: 2px solid #666;
  position: absolute;
  width: -webkit-fill-available;
  z-index: 1;
}

@media (max-width: 800px) {
  .Home {
    padding: 2em 10px 2em 10px;
  }
  .main-div {
    display: flex;
    flex-direction: column;
  }
  .main-div .emo {
    font-size: 2em;
    padding-bottom: 0.5em;
  }
  .main-div .intro {
    display: block;
    font-size: large;
    padding-bottom: 0.7em;
  }
  .main-div .description {
    padding-top: 1.2em;
    font-size: medium;
    padding-left: 1.5em;
  }

  .main-div img {
    height: 15em;
  }
  .art-image {
    height: 10em;
  }
  .code-block {
    width: 100%;
  }
  .skills {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .skills .tech {
    padding: 0.2rem 0.2rem 0rem 0.5rem;
  }
  .skills img {
    height: 1.5rem;
  }
  .tech {
    font-size: 1.4rem;
    font-family: "Dancing Script", cursive;
    color: #7b7a7c;
  }

  .skills .icons {
    padding: 0.5rem 0rem 0rem 0.6rem;
  }
  @keyframes typing {
    from {
      width: 10%;
    }
    to {
      width: 70%;
    }
  }
  .projects-heading {
    padding: 1rem 0px 0em 0px;
    font-size: x-large;
    font-weight: bold;
  }
  .code-block {
    padding: 2rem 2rem 1.5rem 0rem;
  }
  .resume-about {
    padding: 1.5rem 0rem 0rem 0rem;
  }
  .About {
    padding: 0px 0px 0em 0px;
  }
  .skills div {
    /* opacity: 0; */
    /* animation: fadeIn 1s 1s forwards; */
    padding: 0.5rem 0em 1rem 0.5em;
    /* width: 20rem; */
  }
  /* .dropping-div {
    display: none;
  } */
}
